{{#each this}}
<li>
  <a href="{{largeImageURL}}" target="_blank">
    <div>
      <img src="{{webformatURL}}" alt="" width="480">
      
      <p>likes: {{likes}}</p>
      <p>Views: {{views}}</p>
      <p>Comments: {{comments}}</p>
      <p>Downloads: {{downloads}}</p>
    </div>
  </a>
</li>
{{/each}}